img, canvas, label, h1, h2, h3, h4, h5, p, ul, li, ol, span, a, button, select, body {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

html,body{
    height: 100%;
}

* {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", Helvetica, sans-serif;
    font-weight: normal;
}

body{
    overflow: hidden;
}

div,ul,li,a,p,span{
    box-sizing:border-box;
}

table,tr,td{
    border: none !important;
}

@font-face{
    font-family:'OpenSans-Light';
    src: local('OpenSans-Light'), url('../fonts/OpenSans-Light.ttf') format('truetype');
}

/*============ CONTENT CSS ================*/
.page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: none;
    background-color: #fff;
    animation: fadeIn 0.3s ease;
    -webkit-animation: fadeIn 0.3s ease;
}

.page.active-page{ display: block; }

.page .content{
    position: relative;
    width: 100%;
    height: 100%;
}

.empty-box{
    padding: 17px;
    position: absolute;
    text-align: center;
    width: 190px;
    height: 74px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    pointer-events: none;
}
.empty-box div:first-child{ font-size: 14px; }
.empty-box div:last-child{
    font-size: 18px;
    font-weight: bold;
}


/*=============== LIST ==================*/
ul.list-wrapper{
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.list-wrapper li{
    padding: 15px 35px 15px 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #999;
    box-sizing: initial;
    background-color: #fff;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
    /*animation: fadeIn 0.3s ease;*/
    /*-webkit-animation: fadeIn 0.3s ease;*/
}

ul.list-wrapper li:after{
    content: "";
    position: absolute;
    height: 100%;
    width: 50px;
    background-image: url(images/icon/next.png);
    background-size: 12px;
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
    right: 0;
    /*animation: slideInRight 0.6s ease;*/
    /*-webkit-animation: slideInRight 0.6s ease;*/
    
}

/*========= ANIMATION KEYFRAMES =========*/
@keyframes slideInRight{
    from{transform: translate3d(100%, 0, 0);}
    to{transform: translate3d(0, 0, 0);}
}
@-webkit-keyframes slideInRight{
    from{-webkit-transform: translate3d(100%, 0, 0);}
    to{-webkit-transform: translate3d(0, 0, 0);}
}

@keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}
@-webkit-keyframes fadeIn{
    from{opacity: 0;}
    to{opacity: 1;}
}

/*===== EMPTY STATE =====*/
#empty div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    text-align: center;
}

#empty > div:before{
    content: "";
    display: block;
    width: 140px;
    height: 180px;
    background-image: url(images/empty.png);
    background-position: center;
    background-size: auto 90%;
    background-repeat: no-repeat;
}

#empty div > span{
    display: block;
    color: #999;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}

#empty div > span:after{
    content: "Tap to sync";
    display: block;
    margin-top: 3px;
    font-weight: normal;
    font-size: 16px;
}