body{
    background-color: #000;
}

.content-layout{	
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.home-navigation{
	width: 100%;
	height: 100%;
	background-color: #fff;
	padding-top: 45px;
	box-sizing: border-box;
	overflow: auto;
	transition: all 600ms ease;
	-webkit-transition: all 600ms ease;
  	animation: fadeIn 0.3s ease;
    -webkit-animation: fadeIn 0.3s ease;
}

.home-header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	width: 100%;
	background-image: url(images/logo.png);
	background-color: #888;
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto 80%;
}

.a-logo{
	position: relative;
	text-align: center;
	font-size: 300px;
	height: 55%;
	min-height: 210px;
	overflow: hidden;
}

.a-logo img{
	position: absolute;
	width: 80%;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
}

.navigation{
	width: 100%;
	height: 45%;
	min-height: 180px;
}

.navigation ul{
	list-style: none;
	padding: 10px;
	margin: 0;
	height: 100%;
	width: 100%;
}

.navigation li{
	position: relative;
	float: left;
	width: 33%;
	height: 50%;
	text-align: center;
	vertical-align: middle;
}

.navigation li:nth-child(1),
.navigation li:nth-child(4){
	margin-left: 0.5%
}

.navigation li:nth-child(3),
.navigation li:nth-child(6){
	margin-right: 0.5%
}

.navigation div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: 75%;
	padding-top: 75%;
	border-radius: 50%;
    box-shadow: inset 0 0 0 2px #888, 0 0 0 2px #FFF, 0 0 0 3px #888;
    pointer-events: none;
}

.navigation div:before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 80%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 50%;
}

.navigation div:after{
	position: absolute;
	bottom: 15%;
	left: 0;
	right: 0;
	text-align: center;
	font-size: 10px;
	color: #999;
}

.navigation li#location > div:before{ background-image: url(images/icon/location.png); }
.navigation li#product > div:before{ background-image: url(images/icon/product.png); }
.navigation li#exclusives > div:before{ background-image: url(images/icon/exclusives.png); }
.navigation li#qrcode > div:before{ background-image: url(images/icon/qrcode.png); }
.navigation li#points > div:before{ background-image: url(images/icon/loyalty.png); }
.navigation li#about > div:before{ background-size: 60%; background-image: url(images/icon/alogo.png); }

.navigation li#location > div:after{ content: "Locations"; }
.navigation li#product > div:after{ content: "Products"; }
.navigation li#exclusives > div:after{ content: "Exclusives"; }
.navigation li#qrcode > div:after{ content: "My Code"; }
.navigation li#points > div:after{ content: "Points"; }
.navigation li#about > div:after{ content: "About"; }

.hidden{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 600ms ease; 
	-webkit-transition: all 600ms ease; 
	transform: translate(100%, 0);
	-webkit-transform: translate(100%, 0);
	z-index: 30;
}

body.show-iframe #content,
body.show-reg #regContainer,
body.show-login #loginContainer{
	transform: translate(0, 0);
	-webkit-transform: translate(0, 0);
}

body.show-iframe .home-navigation,
body.show-login .home-navigation,
body.show-reg #loginContainer{
	opacity: 0;
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
}

/*========== content ============*/
.content-wrapper{
	width: 100%;
	height: 100%;
	padding-top: 45px;
	background-color: #fff;
}

header{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 45px;
	background-color: #888;
}

header .title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	width: auto;
	margin: auto;
	color: #fff;
}

header .back-btn,
header .sync-btn,
header .home-btn{
	position: absolute;
	bottom: 0;
	top: 0;
	width: 65px;
	font-size: 12px;
	text-transform: uppercase;
	padding: 15px;
	color: #fff;
}

header .back-btn{ left: 0; }
header .sync-btn{ display: none; right: 0; }
header .home-btn{ display: none; right: 0; }

header.active-home .home-btn{ display: block; }
header.active-sync .sync-btn{ display: block; }

iframe{
	width: 100%;
	height: 100%;
	border: none;
}

/*===============================*/

.login-registration{
	padding-top: 45px;
	overflow: hidden;
	background-color: #fff;
}

.form-wrapper{ 
	width: 100%; 
	height: 100%; 
	position: relative; 
	overflow-x: hidden; 
	overflow-y: auto;
}

.form{ 
	padding: 15px;
	text-align: center;
}
.form.active-form{ display: block; }

.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="number"],
.form input[type="tel"]{
	-webkit-appearance: none;
	width: 100%;
	height: 40px;
	font-size: 16px;
	border: none;
	padding: 0 10px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	margin-bottom: 10px;
	box-sizing: border-box;
}
.form input:focus{ outline: 0; }
.form input[type="radio"]{
	margin-bottom: 10px;
}

.form select{
	-webkit-appearance: none;
	border: 1px solid rgba(0,0,0,0.1);
	margin-top: 5px;
	margin-bottom: 10px;
	width: 30%;
	height: 30px;
	padding: 5px;
	color: #888;
	background-color: transparent;
	box-sizing: border-box;
}

.form label{ 
	margin-right: 10px; 
	margin-left: 20px; 
	font-size: 12px;
	color: #888;
}

#loginForm .signup{
	margin-top: 10px;
	color: #888;
	font-size: 14px;
}
.signup span{
	text-decoration: underline;
	font-weight: bold;
}

.submit-btn{
	margin-top: 10px;
	width: 100%;
	padding: 15px;
	text-align: center;
	background-color: #888;
	color: #fff;
	box-sizing: border-box;
}

.required{
	font-size: 12px;
	color: #888;
	text-align: left;
	margin-bottom: 5px;
}

.dob{
	font-size: 12px;
	color: #888;
}