
.loc-details{ height: 100%; }

ul.list-wrapper li{ margin-bottom: 0; }

.sub-header{
	width: 100%;
	padding: 10px 15px;
	color: #999;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

#map-canvas{
	position: relative;
	width: 100%;
	height: 200px;
	background-color: rgba(255, 255, 255, 0.6);
	border-bottom: 3px solid #999;
	margin-bottom: 10px;
}

.failed-loading{
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    -webkit-flex-direction: column;

	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background-color: rgb(41, 41, 41);
    color: #fff;
    font-size: 18px;
	font-weight: bolder;
	letter-spacing: 0.1em;
}

.failed-loading:before{
	content: "Failed to load!";
	font-size: 14px;
	font-weight: 100;
	display: block;
	letter-spacing: 0.05em;
	margin-bottom: 2px;

}

.address{ padding: 15px 20px; margin-bottom: 10px; color: #999; }
/*.address #loc{ font-weight: bold; font-size: 18px; margin-bottom: 5px; }*/
.address #add{ font-size: 14px; }

.navigation{
	display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;

	width: 100%;
	margin-bottom: 10px;
}

.navigation div{
	padding: 8px 18px;
	background-color: #999;
	color: #fff;
	font-size: 14px;
	letter-spacing: 0.06em;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	margin: auto;
	border-bottom: 1px solid #aaa;
	box-shadow: inset 0 -2px 0 rgba(255, 255, 255, 0.15);
}

.navigation div#dir{ order: 1; }
.navigation div#call{ order: 2; }
.navigation div#mail{ order: 3; }

#directions-panel{
	background-color: rgba(255, 255, 255, 0.6);
	padding: 10px 15px;
}

div#dir.active-dir{
    background-color: #666;
    border-bottom: 1px solid #999;
    box-shadow: inset 0 -2px 0 rgba(0, 0, 0, 0.15);
    color: #3C3C3C;
}