
.user-details{
	width: 100%;
	/*height: 200px;*/
	animation: fadeIn 0.3s ease;
    -webkit-animation: fadeIn 0.3s ease;
}

.user-details .points{
	width: 100%;
	padding: 40px 25px;
}

.user-details .points > div{
    width: 170px;
    height: 170px;
	border-radius: 50%;
	border-top-left-radius: 50%;
	border-top-right-radius: 50%;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: #999;
	color: #fff;
	text-align: center;
    font-size: 38px;
    font-weight: bold;
    margin: auto;
    padding: 55px 0px;
    box-shadow: 0 0 0 2px #fff, 0 0 0 7px #999;
}

.user-details .points > div:after{
	content: attr(data-label);
	display: block;
	font-size: 16px;
	font-weight: normal;
	margin-top: -8px;
}

/*============ LIST ===============*/
ul.list-wrapper{ padding-top: 0; }
ul.list-wrapper li{
	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-align-items: center;

	display: flex;
	flex-direction: row;
	align-items: center;

	padding: 0 15px 0 0;
	text-align: center;

	background-color: #999;
	color: #fff;
	margin-bottom: 20px;
	box-shadow: 0 2px 0 #fff, 0 3px 0 rgba(0,0,0,0.2), 0 -2px 0 #fff, 0 -3px 0 rgba(0,0,0,0.2); 
	
}
ul.list-wrapper li:after{ background: none; }
ul.list-wrapper li > div{
	padding: 20px 0;
	pointer-events: none;
}

ul.list-wrapper li > div:first-child{
	order: 1;
	padding: 15px;
	font-size: 20px;
	font-weight: bold;
	margin-right: 10px;
    min-width: 75px;
    width: 75px;
}

ul.list-wrapper li > div:first-child:after{
	content: attr(data-label);
	display: block;
	font-size: 10px;
	font-weight: normal;
	margin-top: -2px;
}

ul.list-wrapper li > div:last-child{ order: 2; text-align: left;}

.no-campaign{
	background-color: rgba(255, 255, 255, 0.6);
	padding: 20px;
	width: 200px;
	margin: auto;
	margin-bottom: 20px;
	text-align: center;
	font-weight: bold;
	border-radius: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}



