ul.list-wrapper li{ margin-bottom: 0; }
.list-wrapper div{ pointer-events: none; }

.news-list,
.news-detail{
	animation: fadeIn 0.3s ease;
    -webkit-animation: fadeIn 0.3s ease;
}

.news-list.active-content,
.news-detail.active-content{
	display: block;
}

.news-detail{
	background-color: rgba(255, 255, 255, 0.6);
}

.news-detail #newsImg{
	display: block;
	width: 100%;
	margin-bottom: 20px;
}

.news-detail #newsDetails{
	text-align: justify;
	padding: 10px 15px;
	color: #999;
	font-size: 14px;
}

.sub-header{
	width: 100%;
	padding: 10px 15px;
	color: #999;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

