.main-menu,
.sub-menu,
.details{
	display: none;
	padding-top: 30px;
	height: 100%;
}
/*======== GRID =============*/
.main-menu.active-content,
.sub-menu.active-content,
.details.active-content{ display: block; }
ul.grid-wrapper{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	display: -webkit-flex;
	-webkit-flex-direction: row;
	-webkit-flex-wrap: wrap;
	-webkit-justify-content: center;
	-webkit-align-items: center;

	padding: 0;
    margin: 0;
	height: 100%;
	list-style: none;
}

ul.grid-wrapper li{
    width: 50%;
    height: 33%;
    padding: 10px;
    margin: auto;
    text-align: center;
    position: relative;
    /*animation: fadeIn 0.3s ease;*/
    /*-webkit-animation: fadeIn 0.3s ease;*/
}

ul.grid-wrapper li img{
	display: inline-block;
	width: 60%;
	margin-right: 40%;
	vertical-align: middle;
	pointer-events: none;
}

ul.grid-wrapper li div{
	position: absolute;
	width: 70%;
	padding-top: 70%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	background-position: center;
	background-size: 80%;
	background-repeat: no-repeat;
	pointer-events: none;
}

ul.grid-wrapper li div.img-mac{ background-image: url(images/menu/menu-1.png);}
ul.grid-wrapper li div.img-iphone{ background-image: url(images/menu/menu-2.png);}
ul.grid-wrapper li div.img-ipad{ background-size: auto 90%; background-image: url(images/menu/menu-3.png);}
ul.grid-wrapper li div.img-ipod{ background-image: url(images/menu/menu-4.png);}
ul.grid-wrapper li div.img-tv{ background-image: url(images/menu/menu-5.png);}
ul.grid-wrapper li div.img-accessory{ background-image: url(images/menu/menu-6.png);}

ul.grid-wrapper li div:after{
	content: attr(data-label);
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	/*right: 0;*/
	/*height: 14px;*/
	font-size: 14px;
	/*font-weight: bold;*/
	color: #999;
}

ul.grid-wrapper img,
ul.grid-wrapper div{
	pointer-events: none;
}

/*------------- sub -----------*/
.sub-header{
	width: 100%;
	padding: 10px 15px;
	color: #999;
	border-bottom: 1px solid rgba(0,0,0,0.1);
}

.dlist-wrapper{
	padding: 0;
	margin: 0;
	list-style: none;
}

.dlist-wrapper li{
	position: relative;
	margin-top: 20px;
	border-bottom: 1px solid rgba(0,0,0,0.1);
	color: #737373;
}

.dlist-wrapper li:last-child{ margin-bottom: 20px; border-bottom: none; }

/*============ DETAILS ===============*/
.item-image{
	display: block;
	width: 80%;
	margin: auto;
}

.item-name{
	text-align: center;
	font-size: 14px;
	margin-top: 15px;
}

.item-detail{
	display: none;
	font-size: 12px;
	padding: 15px 15px 0;
    animation: fadeIn 0.3s ease;
    -webkit-animation: fadeIn 0.3s ease;
}
li.active .item-detail{ display: block; }

.dlist-wrapper li .item-toggle{
	display: block;
	padding: 10px ;
	font-size: 12px;
	margin-top: 10px;
	color: #000;
	text-align: center;
}
.dlist-wrapper li .item-toggle:before{
	content: "Show Details";
	display: block; 
}
.dlist-wrapper li .item-toggle:after{ 
	content: "Hide Details";
	display: none; 
}
.dlist-wrapper li.active .item-toggle:after{ display: block; }
.dlist-wrapper li.active .item-toggle:before{ display: none; }
