.content{ padding-top: 20px; }
.qr-wrapper{
	width: 80%;
	margin: 0 auto 25px;
	border: 1px solid rgba(0,0,0,0.1);
	border-radius: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.qr-wrapper > img{
	height: 64px;
	display: block;
	margin: 10px auto 20px;
}

.qr-divider{
	height: 50px;
	background-color: #999;
	box-shadow: 0 2px 0 #fff, 0 3px 0 rgba(0,0,0,0.2), 0 -2px 0 #fff, 0 -3px 0 rgba(0,0,0,0.2); 
	margin-bottom: 20px;
}

.qr-container{ padding: 0 15px 15px; }
.qr-container img{ display: block; margin: auto; }

.user-profile{
	padding: 10px 10px;
	text-align: center;
	background-color: #999;
	color: #fff;
	box-shadow: 0 2px 0 #fff, 0 3px 0 rgba(0,0,0,0.2), 0 -2px 0 #fff, 0 -3px 0 rgba(0,0,0,0.2); 
	margin-bottom: 15px;
}

.user-profile #email{ font-size: 12px; }
